@import "tailwindcss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 1.5rem;
  background-color: #fcf8f6;
  font-family: "Red Hat Text", sans-serif;
}

@media only screen and (min-width: 48em) {
  body {
    padding: 2.5rem;
  }
}

@media only screen and (min-width: 75em) {
  body {
    padding: 5.5rem 2.5rem;
  }
}
